@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-Magenta: hsl(300, 69%, 71%);
  /* Typography */
  --body-font-family: 'Open Sans', sans-serif;;
  --headings-font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: url("../images/bg-desktop.svg");
  background-size: contain;
  background-color: var(--violet);
}

.wraper {
  margin: 0px 90px;
}

.header {
  padding-top: 30px;
}

.header img {
  height: 40px;
  cursor: pointer;
}

.container {
  display: flex;
  gap: 46px;
  margin-top: 60px;
}

.container img {
  height: 400px;
  width: 600px;
}

.content .content__title {
  color: #ffffff;
  font-family: var(--headings-font-family);
  font-weight: 600;
  font-size: 2.5em;
  margin-top: 15px;
}

.content .content__text {
  color: #cfcbcb;
  font-family: var(--body-font-family);
  font-weight: 400;
  margin-top: 15px;
}

.content .cta {
  color: var(--violet);
  background-color: #fff;
  padding: 15px 50px;
  border-radius: 30px;
  text-decoration: none;
  font-family: var(--headings-font-family);
  margin-top: 20px;
  display: inline-block;
}

.content .cta:hover {
  color: #fff;
  background-color: var(--soft-Magenta);
  box-shadow: 0px 5px 5px rgba(71, 70, 70, 0.623);
  transition: all 0.2s;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.social__media {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.social__media ion-icon {
  font-size: 25px;
  color: #fff;
  border: 2px solid #fff;
  padding: 6px;
  border-radius: 30%;
}

.social__media ion-icon:hover {
  color: var(--soft-Magenta);
  border: 2px solid var(--soft-Magenta);
}

@media only screen and (max-width: 600px) {
  body {
    height: 100vh;
    background: url("../images/bg-mobile.svg");
    background-size: cover;
    background-color: var(--violet);
  }

  .wraper {
    margin: 0px 20px;
  }

  .container img {
    height: 200px;
    width: 300px;
  }

  .container {
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 20px;
  } 

  .content .content__title {
    font-size: 1.7em;
    margin-top: 0px;
  }
  
  .content .content__text {
    color: #cfcbcb;
    font-family: var(--body-font-family);
    font-weight: 400;
    margin-top: 15px;
  }

  .footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 25px 0px;
  }

  .social__media {
    margin-right: 0px;
  }
}

